import { debug } from "../Log";
import { Component } from '../InteractionEssentials';
import { FeatureNotImplementedFailure } from "../Failure";
import { ButtonInteraction, ComponentType } from "discord.js";

export const Template: Component<ButtonInteraction> = {
    name: "template",
    type: ComponentType.Button,
    run: async (client, interaction, botUser, data) => {
        debug("Template component called");
        return new FeatureNotImplementedFailure();
    },
};
